html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}
header{
  width:100%;
  height: auto;
  background-color: white;
}
.noscroll {
  overflow: hidden;
}
#logo{
  width: 50px;
  margin: 10px auto;
}
#map {
  position: absolute;
  right:30px;
  top:80px;
  width: 250px;
  height: 250px;
  z-index:2;
  border:solid 3px #fff;
}
#pano {
  position:relative;
  height: calc(100% - 60px);
  width: 100%;
}

#search{
  float:left;
  width: 30%;
  margin:10px;
  overflow:hidden;
}

input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}


/* Info Window Styling */

#panocontent{}


#mapcontent{
  font-size: 12px;
}

#firstHeading{
  font-weight:900;
}

  /* Styling for Overlay */

#overlay{
  position: absolute;
  z-index:999;
  /*
  background: rgba(255,255,255, 0.8);
  box-shadow: inset 0 0 100px yellow;
  */
  background-image: url("images/backgroundgradients_overalltrans_02lb.png");
  background-size: 100% 100%;
  width:100%;
  height:110%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgb(136,243,184); 
  font-weight: bolder;
  font-family: 'Kalam', cursive;
}
#overlay a {
  color: rgb(136,243,184); 
  font-family: 'Lato', sans-serif;
}

ul, li {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.4;
  color: rgb(136,243,184);
}

h1 {
  font-family:  'Kalam', cursive;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgb(136,243,184);
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.1;
  color: rgb(136,243,184);
}

h3 {
  font-family:  'Kalam', cursive;
  font-size: 1.55rem;
  font-weight: 400;
  line-height: 1.1;
  color: rgb(136,243,184);
}

#closebutton{
  position:absolute;
  top: 30px;
  right: 40px;
  z-index:999;
  cursor: pointer;
}

#closebutton:hover{
  color:red;
}

#image-column{
  position:absolute;
  left: 150px;
  top: 125px;
  width: 25%
}

#image-column > img{
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-bottom: 20px;
}

#businesslogo{
  width: 100%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

#logo-inner-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: rgba(131,125,138,0.80);
  max-width: 200px;
}

#logo-inner-box img{
  max-width: 200px;
  width: 100%;
} 


#link-column{
  background-color: rgba(131,125,138,0.70);
  max-width: 400px;
  position:absolute;
  right:150px;
  top: 120px;
  width:25%;
  word-wrap: break-word;
}

#inner-text{
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

#link-button img{
  padding-left: 0px;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-bottom: 20px;
}

#searchResults{
  font-family: 'Viga', sans-serif;
}
