<!DOCTYPE html>
<html>
<head>
    <title>Downtown Santa Cruz Map</title>
    <meta charset="utf-8">
</head>
<body>

<h1>Downtown Santa Cruz Map</h1>

<div id="googleMap" style="width:100%;height:700px;"></div>

<script>
function bindInfoWindow(marker, map, streetView, infoWindowObject, html) {
    google.maps.event.clearListeners(marker,'click');
    google.maps.event.addListener(marker, 'click', function() {
        infoWindowObject.setContent(html);
        if(streetView.getVisible()) {
            console.log("In StreetView Clicked"); // This triggers correctly but 
            infoWindowObject.open(streetView, marker); // This still puts the popup in the aerial view
        }
        else { // normal aerial view
            console.log("In Aerial View Clicked");
            infoWindowObject.open(map, marker); 
        }
    });
    //end bindInfoWindow function
} 

function myMap() {
    var myMapInfoWindow = new google.maps.InfoWindow;
    var mapProperties= {
      center:new google.maps.LatLng(36.973359, -122.025927),
      zoom:16,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"), mapProperties);
    var streetView = map.getStreetView();//= new google.maps.StreetViewPanorama(document.getElementById('googleMap'), mapProperties );
    
    
    {% for business in businesses %}
        var location{{business[0]}} = {lat: {{business[2]}}, lng: {{business[1]}}};
        var contentString{{business[0]}} = "{{business[3]}}";
        var marker{{business[0]}} = new google.maps.Marker({
            position: location{{business[0]}},
            map: map,
            title: "{{business[3]}}"
        });
        
        bindInfoWindow(marker{{business[0]}}, map, streetView, myMapInfoWindow, '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1>{{business[3]}}</h1>'+
          '<h2>Address</h2>'+ 
          '<p>{{business[4]}}</p>'+ 
          '<h2>Status</h2>'+
          '<p>??</p>'+
          '<h2>Order</h2>'+
          '<a href="https://downtownsantacruz.com{{business[5]}}">Visit association site</a>'+
          '</div>'+
          '</div>');
    {% endfor %}
    
    
    /* // Image overlay currently shows in both aerial and street
    var smoothiesMarker = new google.maps.Marker({
        position: {lat: 36.97335, lng: -122.02592},
        map: streetView,
        icon: 'http://img2.wikia.nocookie.net/__cb20140313161255/hayday/images/a/a8/Berry_Smoothie.png',
        title: 'smoothies'
    });
    */
    //end myMap function
} 

//https://developers.google.com/maps/documentation/javascript/streetview
//https://developers.google.com/maps/documentation/javascript/examples/streetview-service
//I want the street view to look like this but also the full map https://jsfiddle.net/upsidown/9h21jzc7/
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVjNL6rNtWlbUFymUbRb3KFRvMDTkIC-k&callback=myMap"></script>

</body>
</html> 

